body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.svg-def {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.default-palette,
.palette0 {
  color: currentColor;
  --color0: #f4f4fd;
  --color1: #4d5ae5;
  --color2: #2e2f42;
}

address {
  font-style: normal;
  color: #434455;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.color-accent {
  color: #4d5ae5;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: 0.03em;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 0;
  margin: 0;
}

.block-title {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.block-text {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.socials {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}